@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
  color:#666;
}

@media (max-width: 850px) {
  body {
    background:#fff;
    overflow:auto;
  }
  h1 {
    font-size:2rem;
  }
  h3,h2 {
    font-size:1rem;
  }
}

@media (max-width: 550px) {
  body {
    overflow:auto;
    height:auto;
  }
}
